body {
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}
/* -----------Header------------  */
.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-style {
  background: #ffffff;
  border: solid 1px;
  border-color: #ececec;
}
.list-style {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
  align-items: center;
  margin-right: 93px;
}
.logo-web {
  color: #2196f3;
}
.navigation {
  display: flex;
  align-items: center;
}
.connection-link-ul {
  display: flex;
}
.connection-link-ul > .list-style {
  display: flex;
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.connection-link {
  align-items: center;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.connection-link-ul > .list-style:last-child {
  margin-right: 0;
}
.navigation-link:hover,
.connection-link:hover {
  color: #2196f3;
}

/* -----------Header------------  */
/* -----------Main------------  */
h1 {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-style {
  background-color: #ffffff;
}
.main-list-style {
  display: flex;
  justify-content: center;
}
.navigation-portfolio {
  display: flex;
  justify-content: center;
}
.button {
  font-family: "Roboto";
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  padding: 0;
  padding: 6px 22px;
  margin-bottom: 50px;
  margin-top: 94px;
}
.button:hover {
  color: #ffffff;
  background: #2196f3;
}
.button:active {
  color: #ffffff;
  background: #2196f3;
}
.main-list-style > .list-style:not(:last-child) {
  margin-right: 8px;
}
.container-cards {
  margin-bottom: 94px;
}
.cards-flex {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-cards {
  box-sizing: border-box;
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-cards:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.cards-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.project {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/* -----------Main------------  */
/* -----------Footer------------  */
.footer-style {
  background: #2f303a;
}
.container-footer {
  width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: #ffffff;
}
.webstudio-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
address a:hover {
  color: #2196f3;
}

/* -----------Footer------------  */
